[submodule "powerline"]
	path = powerline
	url = https://github.com/nhannguyen/powerline.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/nhannguyen/zsh-syntax-highlighting.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/nhannguyen/zsh-completions.git
[submodule "powerline-daemon"]
	path = powerline-daemon
	url = https://github.com/kovidgoyal/powerline-daemon.git
